<app-blank>
        <h1>Flexi Grid</h1>
        <flexi-grid
        [data]="data()"
        [showCommandColumn]="true"
        [commandColumnTemplate]="commandTemplate"
        [themeClass]="'light'"
        [showCaption]="true"
        captionTitle="Maaş Bodrosu"
        [useCommandDropdown]="true"
        commandColumnTextAlign="center"
        [pageSize]="10"
        >
                <flexi-grid-column field="id" title="#" width="70px" />
                <flexi-grid-column field="ad" title="Ad">
                        <ng-template flexiGridFooterTemplate let-data>
                                <span>Toplam</span>
                        </ng-template>
                        <ng-template flexiGridFooterTemplate let-data>
                                <span>Genel Toplam</span>
                        </ng-template>
                </flexi-grid-column>
                <flexi-grid-column field="tcKimlikNo" title="TC Kimlik No" />
                <flexi-grid-column field="sgkSicilNo" title="SGK Sicil No" />
                <flexi-grid-column field="brutUcret" title="Brüt Ücret" filterType="number" format="c" textAlign="right" symbol="₺">
                        <ng-template flexiGridFooterTemplate let-data>
                           <span>{{getBrutToplam(data) | trCurrency:'₺'}}</span>
                        </ng-template>

                        <ng-template flexiGridFooterTemplate let-data>
                           <span>{{getGenelToplam() | trCurrency:'₺'}}</span>
                        </ng-template>
                </flexi-grid-column>
                <flexi-grid-column field="sgkPrimKesintisi" title="SGK Pr. Kes." filterType="number" format="c" textAlign="right" symbol="₺">
                        <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getBrutToplam(data) | trCurrency:'₺'}}</span>
                             </ng-template>

                             <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getGenelToplam() | trCurrency:'₺'}}</span>
                             </ng-template>
                </flexi-grid-column>
                <flexi-grid-column field="issizlikSigortasiKesintisi" title="İş. Sig. Kes." filterType="number" format="c" textAlign="right" symbol="₺">
                        <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getBrutToplam(data) | trCurrency:'₺'}}</span>
                             </ng-template>

                             <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getGenelToplam() | trCurrency:'₺'}}</span>
                             </ng-template>
                </flexi-grid-column>
                <flexi-grid-column field="gelirVergisi" title="Gelir Vergisi" filterType="number" format="c" textAlign="right" symbol="₺">
                        <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getBrutToplam(data) | trCurrency:'₺'}}</span>
                             </ng-template>

                             <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getGenelToplam() | trCurrency:'₺'}}</span>
                             </ng-template>
                </flexi-grid-column>
                <flexi-grid-column field="damgaVergisi" title="Damga Vergisi" filterType="number" format="c" textAlign="right" symbol="₺">
                        <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getBrutToplam(data) | trCurrency:'₺'}}</span>
                             </ng-template>

                             <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getGenelToplam() | trCurrency:'₺'}}</span>
                             </ng-template>
                </flexi-grid-column>
                <flexi-grid-column field="netUcret" title="Net Ücret" filterType="number" format="c" textAlign="right" symbol="₺">
                        <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getBrutToplam(data) | trCurrency:'₺'}}</span>
                             </ng-template>

                             <ng-template flexiGridFooterTemplate let-data>
                                <span>{{getGenelToplam() | trCurrency:'₺'}}</span>
                             </ng-template>
                </flexi-grid-column>

                <ng-template #commandTemplate let-item>
                        <flexi-button [btnColor]="'primary'" btnSize="x-small" btnIcon="add" title="Add" flexiTooltip="bottom" />
                        <flexi-button [btnColor]="'danger'" btnSize="x-small" btnIcon="edit" title="Add" flexiTooltip="bottom" />
                        <flexi-button [btnColor]="'dark'" btnSize="x-small" btnIcon="remove" title="Add" flexiTooltip="bottom" />
                        <flexi-button [btnColor]="'indigo'" btnSize="x-small" btnIcon="files" title="Add" flexiTooltip="bottom" />
                        <flexi-button [btnColor]="'info'" btnSize="x-small" btnIcon="apps" title="Add" flexiTooltip="bottom" />
                        <flexi-button [btnColor]="'light'" btnSize="x-small" btnIcon="key" title="Add" flexiTooltip="bottom" />
                        <flexi-button [btnColor]="'pink'" btnSize="x-small" btnIcon="block" title="Add" flexiTooltip="right" />
                </ng-template>
        </flexi-grid>
</app-blank>
