<app-blank>
    <flexi-button btnIcon="add" btnColor="primary" [btnDisabled]="true" (click)="show()"/>
   <!-- <flexi-grid
     #grid
     [data]="data()"
     [dataBinding]="true"     
     [total]="total()"
     [loading]="loading()"
     [showCaption]="true"
     [captionTemplate]="captionTemplate"
     [commandColumnTemplate]="commandColumnTemplate"
     [showCommandColumn]="true"
     [resizable]="true"
     captionTitle="User List"
     height="500px"
     [showIndex]="false"
     [autoHeight]="false"     
     [footerTemplate]="footerTemplate"
     (dataStateChange)="dataStateChange($event)"
     [reorderable]="false"
     [useMinHeight]="true"
     minHeight="450px"
     [showExportExcelBtn]="true"
     [exportExcelButtonClick]="exprtExcel.bind(this)"
     (onSelected)="selected($event)"
     themeClass="light"
     selectableField="id"     
     >
        <ng-template #captionTemplate>
            <flexi-button btnIcon="add" btnColor="primary" title="Add User" flexiTooltip />
        </ng-template>

        <flexi-grid-column field="firstName" title="First Name"/>
        <flexi-grid-column field="lastName" title="Last Name"/>
        <flexi-grid-column title="Full Name">
            <ng-template flexiGridHeaderTemplate>
                <input class="form-control" [(ngModel)]="fullName" (change)="getFullNameChange()">
            </ng-template>
            <ng-template flexiGridCellTemplate let-item>
                <span>{{item.firstName}} {{item.lastName}}</span>
            </ng-template>
        </flexi-grid-column>
        <flexi-grid-column field="firstName" title="First Name"/>
        <flexi-grid-column field="lastName" title="Last Name"/>
        <flexi-grid-column title="Full Name">
            <ng-template flexiGridHeaderTemplate>
                <input class="form-control" [(ngModel)]="fullName" (change)="getFullNameChange()">
            </ng-template>
            <ng-template flexiGridCellTemplate let-item>
                <span>{{item.firstName}} {{item.lastName}}</span>
            </ng-template>
        </flexi-grid-column>
        <flexi-grid-column field="firstName" title="First Name"/>
        <flexi-grid-column field="lastName" title="Last Name"/>
        <flexi-grid-column title="Full Name">
            <ng-template flexiGridHeaderTemplate>
                <input class="form-control" [(ngModel)]="fullName" (change)="getFullNameChange()">
            </ng-template>
            <ng-template flexiGridCellTemplate let-item>
                <span>{{item.firstName}} {{item.lastName}}</span>
            </ng-template>
        </flexi-grid-column>
        <flexi-grid-column field="dateOfBirth" title="Date Of Birth" filterType="date" format="dd MM yyyy"/>
        <flexi-grid-column field="salary" title="Salary" filterType="number" format="c" textAlign="right"/>
        <flexi-grid-column field="isActive" title="Is Active" filterType="boolean" [booleanData]="['Active', 'Passive']" textAlign="center"/>

        <ng-template #commandColumnTemplate>
            <div class="d-flex gap-1">
                <flexi-button btnIcon="edit" btnSize="x-small" btnColor="warning" title="Edit" flexiTooltip/>
                <flexi-button btnIcon="delete" btnSize="x-small" btnColor="danger" title="Delete" flexiTooltip/>
            </div>
        </ng-template>

        <ng-template #footerTemplate>
           
        </ng-template>
   </flexi-grid> -->

   <button (click)="clearSelection()">Clear Selection</button>
</app-blank>

