@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----------------------- Toast Son ------------------------------------------------------ */

[data-bs-theme="light"] {
    --flexi-toast-background-color: #fff;
    --flexi-toast-btn-border-color: #ccc;
    --flexi-toast-cancel-btn-background-color: #212529;
    --flexi-toast-text-color: #101020;
    --flexi-toast-success: #47D764;
    --flexi-toast-warning: #FFC021;
    --flexi-toast-error: #ff355b;
    --flexi-toast-info: #2F86EB;
    --flexi-toast-default: #fff;
}

[data-bs-theme="dark"] {
    --flexi-toast-background-color: #212529;  
    --flexi-toast-btn-border-color: #ccc;
    --flexi-toast-cancel-btn-background-color: #212529;  
    --flexi-toast-text-color: #fff;
    --flexi-toast-success: #47D764;
    --flexi-toast-warning: #FFC021;
    --flexi-toast-error: #ff355b;
    --flexi-toast-info: #2F86EB;
    --flexi-toast-default: #fff;
}

.flexi-toast-wrapper {
    width: 380px;
    position: fixed;
    z-index: 9999;
}

.flexi-taost-top-left {
    top: 20px;
    left: 20px;
}

.flexi-taost-top-right {
    top: 20px;
    right: 20px;
}

.flexi-taost-bottom-left {
    bottom: 20px;
    left: 20px;
}

.flexi-taost-bottom-right {
    bottom: 20px;
    right: 20px;
}

.flexi-taost-bottom-full {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    bottom: 20px;
}

.flexi-taost-top-full {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    top: 20px;
}

.flexi-toast {
    padding: 20px;
    background-color: var(--flexi-toast-background-color);
    color: var(--flexi-toast-text-color);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    opacity: 0;
    /* Start hidden */
    transform: translateY(20px);
    /* Start below */
    transition: opacity 0.5s, transform 0.5s;
}

.flexi-toast-success {
    border-left: 8px solid var(--flexi-toast-success);
}

.flexi-toast-error {
    border-left: 8px solid var(--flexi-toast-error);
}

.flexi-toast-info {
    border-left: 8px solid var(--flexi-toast-info);
}

.flexi-toast-warning {
    border-left: 8px solid var(--flexi-toast-warning);
}

.flexi-toast-container-1 svg {
    width: 35px;
}

.flexi-toast-success svg {
    fill: var(--flexi-toast-success);
}

.flexi-toast-error svg {
    fill: var(--flexi-toast-error);
}

.flexi-toast-info svg {
    fill: var(--flexi-toast-info);
}

.flexi-toast-warning svg {
    fill: var(--flexi-toast-warning);
}

.flexi-toast:not(:last-child) {
    margin-bottom: 10px;
}

.flexi-toast-container {
    display: flex;
    gap: 10px;
}

.flexi-toast-container-1,
.container-2 {
    align-self: center;
}

.flexi-toast-container-2 {
    display: flex;
    flex-direction: column;
}

.flexi-toast-container-2 span:first-child {
    color: var(--flexi-toast-text-color);
    font-weight: 600;
    font-size: 16px;
}

.flexi-toast-container-2 span:last-child {
    font-size: 12px;
    font-weight: 400;
    color: var(--flexi-toast-text-color);
}

.flexi-toast-close-btn {
    align-self: flex-start;
    background-color: transparent;
    font-size: 25px;
    color: #656565;
    line-height: 0;
    cursor: pointer;
}

.flexi-toast-fade-in {
    opacity: 1;
    transform: translateY(0);
}

.flexi-toast-fade-out {
    opacity: 0;
    transform: translateY(20px);
}

.flexi-toast-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    opacity: 0.1;
}

.flex-toast-progress-bar-success {
    background: var(--flexi-toast-success);
}

.flex-toast-progress-bar-error {
    background: var(--flexi-toast-error);
}

.flex-toast-progress-bar-info {
    background: var(--flexi-toast-info);
}

.flex-toast-progress-bar-warning {
    background: var(--flexi-toast-warning);
}

/* ----------------------- Toast Son ------------------------------------------------------ */

/* ------------------- Swal Başlangıç ----------------------------------------------------- */

/* Keyframes for fade-in and fade-out animations */
@keyframes flexi-swal-fade-in {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes flexi-swal-fade-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.flexi-swal-container {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    z-index: 9999;    
}

.flexi-swal-content {
    position: relative;
    padding: 20px;
    max-width: 650px;
    min-width: 400px;
    min-height: 200px;
    border-radius: 3px;
    background-color: var(--flexi-toast-background-color);
    color: var(--flexi-toast-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    border-left: 8px solid;
    animation: flexi-swal-fade-in 0.5s forwards; /* Apply fade-in animation */
}

.flexi-swal-content-left-border-default{
    border-left-color: var(--flexi-toast-default);
}

.flexi-swal-content-left-border-success{
    border-left-color: var(--flexi-toast-success);
}

.flexi-swal-content-left-border-info{
    border-left-color: var(--flexi-toast-info);
}

.flexi-swal-content-left-border-error{
    border-left-color: var(--flexi-toast-error);
}

.flexi-swal-content-left-border-warning{
    border-left-color: var(--flexi-toast-warning);
}


.flexi-swal-content.fade-out {
    animation: flexi-swal-fade-out 0.2s forwards; /* Apply fade-out animation */
}

.flexi-swal-icon {
    padding: 20px 25px;
    position: absolute;
    top: -40px;
    background-color: #ccc;
    border-radius: 50px;
}

.flexi-swal-btn-container{
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
}

.flexi-swal-btn,
.flexi-swal-btn-cancel {
    width: 200px;
    box-shadow: 0 1px 0 rgba(--flexi-toast-text-color, 0.04);
    display: inline-block;
    padding: 0.4075rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--flexi-toast-text-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--flexi-toast-btn-border-color);    
    border-radius: 4px;
    background-color: var(--flexi-toast-background-color);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.flexi-swal-btn-cancel-background-success{
    background-color: var(--flexi-toast-success);
    color: black;
}

.flexi-swal-btn-cancel-background-info{
    background-color: var(--flexi-toast-info);
    color: white;
}

.flexi-swal-btn-cancel-background-error{
    background-color: var(--flexi-toast-error);
    color: white;
}

.flexi-swal-btn-cancel-background-warning{
    background-color: var(--flexi-toast-warning);
    color: black;
}

.flexi-swal-btn:hover{
    opacity: 0.8;
}

.flexi-swal-btn-cancel:hover{    
    opacity: 0.8;
}

.flexi-swal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  align-self: flex-start;
  background-color: transparent;
  font-size: 25px;
  color: #656565;
  line-height: 0;
  cursor: pointer;
}