<div class="page">
    <!-- Sidebar -->
    <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand">
                <a routerLink="/">
                    <img src="./img/flexui.jpg" width="110" alt="Tabler">
                </a>
            </h1>            
            <div class="collapse navbar-collapse" id="sidebar-menu">
                <ul class="navbar-nav pt-lg-3">
                    <li class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <i class="fa-solid fa-home me-2"></i>
                            </span>
                            <span class="nav-link-title">
                                Ana Sayfa
                            </span>
                        </a>
                    </li>    
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a routerLink="/flexi-grid" class="nav-link dropdown-toggle">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <i class="fa-solid fa-table me-2"></i>
                            </span>
                            <span class="nav-link-title">
                                Flexi Grid
                            </span>
                        </a>
                        <div class="dropdown-menu" [ngClass]="shared.openOrCloseFlexiGridDropDown() ? 'show' : ''">
                            <div class="dropdown-menu-columns">
                              <div class="dropdown-menu-column">
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="what-is-flexi-grid">
                                  Flexi Grid nedir?
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="installation">
                                  Kurulum                                  
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="first-use">
                                  İlk Kullanım
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="index">
                                  Index
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="pagination">
                                  Pagination
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="sort">
                                  Sort
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="filter">
                                  Filter
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="caption">
                                  Caption
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="footer">
                                  Footer
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="data-binding">
                                  Data Binding
                                </a>
                                <a class="dropdown-item" routerLink="/flexi-grid" fragment="options">
                                  Ek Ayarlar
                                </a>
                              </div>                             
                            </div>
                          </div>
                    </li>                   
                </ul>
            </div>
        </div>
    </aside>
    <div class="page-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>