<div class="panel-hdr">
    <h2>
        Flexi UI <span class="fw-300"><i>Test</i></span>
    </h2>
    <div class="panel-toolbar">
        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
    </div>
</div>
<div class="panel-container show">
    <div class="panel-content">
       <ng-content />
    </div>
</div>