<app-blank>  
  <!-- <flexi-editor [(ngModel)]="editorContent"></flexi-editor>
  <div>
    <h3>Editor Content:</h3>
    <div [innerText]="editorContent"></div>
  </div> -->
  <!-- <div class="form-group row"> -->
    <!-- <div class="form-group">
      <label>Name</label>
      <input type="text" tabindex="1">
    </div> -->

    <!-- <div class="col-4 form-group mt-1">
      <label>User</label>
      <flexi-select
        [data]="users()"
        label="firstName"
        value="id"
        name="test2"
        tabindex="2"
        [multiple]="true"
        [closeAfterSelect]="false"
        (selected)="showSelected($event)"
        [(ngModel)]="selectedItems"
        ></flexi-select>
    </div>

    <button (click)="changeIds()">Change</button> -->

    <!-- <div class="col-4 form-group mt-1">
      <label>User</label>
      <flexi-select
        [data]="users()"
        label="firstName"
        name="test"
        value="id"
        tabindex="2"
        [multiple]="false"
        [closeAfterSelect]="true"
        (selected)="showSelected($event)"
        [(ngModel)]="selectedItem"
        ></flexi-select>
    </div> -->
  <!-- </div> -->

  <flexi-grid
  [data]="users()"
  [pageable]="true"
  [filterable]="true"
  [themeClass]="shared.themeClass()"
  [showCaption]="true"  
  captionTitle="User List"
  [resizable]="true"
  [draggable]="true"
  [useMinWidth]="false"
  [loading]="loading()"
  [captionTemplate]="captionTemplate"
  [showIndex]="true"
  [autoHeight]="false"
  >
  <ng-template #captionTemplate>
    <button class="btn btn-primary">Ekle</button>
    <button class="btn btn-dark">Export</button>
  </ng-template>

  <flexi-grid-column field="id" title="Id" [hideOverflow]="true"></flexi-grid-column>
  <flexi-grid-column field="firstName" width="350px" title="First Name" [hideOverflow]="false"></flexi-grid-column>
  <flexi-grid-column field="lastName" title="Last Name" [hideOverflow]="false"></flexi-grid-column>
  <flexi-grid-column field="dateOfBirth" title="Date Of Birth" filterType="date" format="dd.MM.yyyy"></flexi-grid-column>
  <flexi-grid-column field="salary" title="Salary" filterType="number" format="c"></flexi-grid-column>
  <flexi-grid-column field="avatarUrl" title="Avatar URL" [filterable]="false" [hideOverflow]="true"></flexi-grid-column>
  <flexi-grid-column [columnTemplate]="operationsColumnTemplate" title="İşlemler">
    <ng-template #operationsColumnTemplate>
        <button (click)="delete()">Remove</button>
    </ng-template>
  </flexi-grid-column>

  </flexi-grid>
</app-blank>