.me-1{
    margin-right: 5px;
}

.sticky{
    position: sticky;
    right: 0;
}

flexi-button,
flexi-button button {
    display: inline-block; /* or block if you need a full-width button */
    height: 100%; /* Ensure it stretches to 100% height */
}