<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-example-change-theme" class="nav-link active" data-bs-toggle="tab">Örnek</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-html-change-theme" class="nav-link" data-bs-toggle="tab">component.html</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ts-change-theme" class="nav-link" data-bs-toggle="tab">component.ts</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ts-change-theme-data" class="nav-link" data-bs-toggle="tab">data.ts</a>
      </li>
    </ul>
</div>
<div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active show" id="tabs-example-change-theme">
        <h4>Theme Değiştir (Light / Dark)</h4>
        <div class="form-group">
          <button class="btn" [ngClass]="changeTheme() ? 'btn-dark' : ''" (click)="changeTheme.set(!changeTheme())">
            {{changeTheme() ? 'Dark theme' : 'Light theme'}}
          </button>
        </div>
        <flexi-grid 
        [data]="users()" 
        [themeClass]="changeTheme() ? 'light' : 'dark'"
        [pageable]="true"
        [filterable]="true"
        [showCaption]="true"
        captionTitle="User List">
            <flexi-grid-column field="id" title="Id"></flexi-grid-column>
            <flexi-grid-column field="firstName" title="First Name"></flexi-grid-column>
            <flexi-grid-column field="lastName" title="Last Name"></flexi-grid-column>
            <flexi-grid-column field="dateOfBirth" title="Date Of Birth"></flexi-grid-column>
            <flexi-grid-column field="salary" title="Salary"></flexi-grid-column>
        </flexi-grid>
      </div>
      <div class="tab-pane" id="tabs-html-change-theme">
        <h4>HTML kodları</h4>
        <my-code [code]="changeThemeHTMLCode()" language="html"></my-code>
      </div>
      <div class="tab-pane" id="tabs-ts-change-theme">
        <h4>Typescript kodları</h4>
        <my-code [code]="changeThemeTSCode()" language="typescript"></my-code>
      </div>
      <div class="tab-pane" id="tabs-ts-change-theme-data">
        <h4>Data</h4>
        <my-code [code]="dataCode" language="typescript"></my-code>
      </div>
    </div>
</div>