<app-blank pageName="" pageDescription="Flexi Grid">
    <app-card cardTitle="Angular Flexi Data Grid">
        <p>Angular uygulamalarınızda kullanabileceğiniz şık ve kullanışlı bir Data Grid. OData yapısıyla uyumlu, isterseniz Data binding ile kullanabileceğiniz, ister tüm datanızı alıp burada işleyebileceğiniz oldukça kullanışlı bir Data grid.</p>
        <p>Örnek çıktısı aşağıdadır. Kodlarına buraya tıklayarak bakabilirsiniz.</p>
        <ng-template #captionTemplate>
            <!-- <button>Kullanıcı ekle</button> -->
          </ng-template>
        
          <ng-template #footerTemplate>
            <!-- <tr>
              <td colspan="5">Total</td>
              <td>46546</td>
            </tr> -->
          </ng-template>
        
          <flexi-grid
          [data]="users()"
          [total]="total()"
          [dataBinding]="true"
          [pagable]="true"
          [pageSize]="state().pageSize"
          [pageSizeList]="[10,20,30,50,100,1000]"
          [showIndex]="true"
          [loading]="loading()"
          themeClass="light"
          [height]="420"
          [filterable]="true"
          tableTitle="Example User Table"
          [captionTemplate]="captionTemplate"
          [footerTemplate]="footerTemplate"
          [showCaption]="true"
          (refreshData)="getAll()"
          (dataStateChange)="dataStateChange($event)"
          >  
          <flexi-grid-column [visible]="false" field="id" title="Id" [orderable]="false"></flexi-grid-column>
          <!-- <flex-grid-column field="avatarUrl" title="Avatar"></flex-grid-column> -->
          <flexi-grid-column field="firstName" title="First Name"></flexi-grid-column>
          <flexi-grid-column field="lastName" title="Last Name"></flexi-grid-column>
          <flexi-grid-column field="dateOfBirth" [filterType]="'date'" format="dd.MM.yyyy" title="Date Of Birth"></flexi-grid-column>
          <flexi-grid-column field="salary" format="n2" filterType="number" title="Salary"></flexi-grid-column>
          <!-- <flex-grid-column field="salary" [columnTempalte]="salaryTemplate" filterType="number" title="Salary"></flex-grid-column> -->
          <!-- <ng-template #salaryTemplate let-value="value">
            <span>{{value | currency}}</span>
          </ng-template> -->
        </flexi-grid>
    </app-card>
</app-blank>
