<!-- <app-card cardTitle="Loading...">
    <div style="height: 500px; display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 20px;">
      <div class="spinner-border" style="width: 50px; height: 50px;"  role="status">        
      </div>
      <h1>Loading...</h1>
    </div>
  </app-card> -->

  <app-card class="placeholder-glow" id="data-binding">
    <div class="card-body">
      <ul>
        <li>
          <p class="placeholder">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi laboriosam quaerat asperiores voluptatem accusamus odit autem voluptatibus quod ut officia facere iure laborum hic, voluptate, dolores neque? Minima, provident incidunt!
            Repellat, nulla eaque soluta quos consectetur asperiores inventore aspernatur laboriosam, voluptatum pariatur quod aut qui eveniet fuga in voluptatibus numquam at! Expedita iste id reiciendis? Ducimus animi corrupti optio ipsa!
            Quia omnis exercitationem doloribus officia praesentium error odit ut adipisci dolore fugit voluptatibus nemo aliquam laudantium fuga temporibus tempora, minima quasi consequuntur ducimus? Voluptatibus, commodi impedit enim eligendi architecto culpa.
            Saepe, praesentium quibusdam. Repudiandae exercitationem, earum dolorem aliquid aut voluptatum recusandae fuga voluptates, quod esse quam? Facilis minima et aperiam, suscipit, nulla voluptas iste in illum doloribus provident praesentium quaerat?
          </p>          
        </li>
        <li>
          <div class="card-header placeholder">
            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
              <li class="nav-item">
                <a class="nav-link active placeholder" data-bs-toggle="tab">Örnek</a>
              </li>
              <li class="nav-item">
                <a class="nav-link placeholder" data-bs-toggle="tab">component.html</a>
              </li>
              <li class="nav-item">
                <a class="nav-link placeholder" data-bs-toggle="tab">component.ts</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content placeholder">
              <div class="tab-pane active show" id="tabs-example-data-binding">
                <div style="width: 1500px; height: 420px;"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </app-card>