@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: inline-flex;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }

a {
    cursor: pointer;    
}

.my-pre{
    min-height: 400px;
}

.my-code {
    min-height: 200px;
    display: block;
    white-space: pre-wrap;
    margin-top: -60px;
    margin-bottom: -20px;
    max-height: 500px;
    overflow: auto;
}

.flexi-select{
    width: 250px !important;
}

.active1{    
    background-color: black;
}

.active2{
    color: rgb(176, 171, 197) !important;
}

.me-1{
    margin-right: 8px;
}