<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-example-draggable" class="nav-link active" data-bs-toggle="tab">Örnek</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-html-draggable" class="nav-link" data-bs-toggle="tab">component.html</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ts-draggable" class="nav-link" data-bs-toggle="tab">component.ts</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ts-draggable-data" class="nav-link" data-bs-toggle="tab">data.ts</a>
      </li>
    </ul>
</div>
<div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active show" id="tabs-example-draggable">
        <h4>Draggable</h4>
        <flexi-grid [data]="users()" [draggable]="true">
            <flexi-grid-column [draggable]="true" field="id" title="Id"></flexi-grid-column>
            <flexi-grid-column field="firstName" title="First Name"></flexi-grid-column>
            <flexi-grid-column field="lastName" title="Last Name"></flexi-grid-column>
            <flexi-grid-column field="dateOfBirth" title="Date Of Birth"></flexi-grid-column>
            <flexi-grid-column field="salary" title="Salary"></flexi-grid-column>
        </flexi-grid>
      </div>
      <div class="tab-pane" id="tabs-html-draggable">
        <h4>HTML kodları</h4>
        <my-code [code]="draggableHTMLCode()" language="html"></my-code>
      </div>
      <div class="tab-pane" id="tabs-ts-draggable">
        <h4>Typescript kodları</h4>
        <my-code [code]="draggableTSCode()" language="typescript"></my-code>
      </div>
      <div class="tab-pane" id="tabs-ts-draggable-data">
        <h4>Data</h4>
        <my-code [code]="dataCode" language="typescript"></my-code>
      </div>
    </div>
</div>