<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-example-index" class="nav-link active" data-bs-toggle="tab">Örnek</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-html-index" class="nav-link" data-bs-toggle="tab">component.html</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ts-index" class="nav-link" data-bs-toggle="tab">component.ts</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ts-index-data" class="nav-link" data-bs-toggle="tab">data.ts</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active show" id="tabs-example-index">
        <h4>Index sırası örneği</h4>                    
            <div style="margin-left: 30px;">
                <label class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="showIndex">
                    <span class="form-check-label">Show or hide Index</span>
                </label>
            </div>
            <flexi-grid [data]="users()" [showIndex]="showIndex()">
                <flexi-grid-column field="id" title="Id"></flexi-grid-column>
                <flexi-grid-column field="firstName" title="First Name"></flexi-grid-column>
                <flexi-grid-column field="lastName" title="Last Name"></flexi-grid-column>
                <flexi-grid-column field="dateOfBirth" title="Date Of Birth"></flexi-grid-column>
                <flexi-grid-column field="salary" title="Salary"></flexi-grid-column>
            </flexi-grid>                 
      </div>
      <div class="tab-pane" id="tabs-html-index">
        <h4>HTML kodları</h4>
        <my-code [code]="indexHTMLCode()" language="html"></my-code>
      </div>
      <div class="tab-pane" id="tabs-ts-index">
        <h4>Typescript kodları</h4>
        <my-code [code]="indexTSCode()" language="typescript"></my-code>
      </div>
      <div class="tab-pane" id="tabs-ts-index-data">
        <h4>Data</h4>
        <my-code [code]="dataCode" language="typescript"></my-code>
      </div>
    </div>
  </div>