<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-example-sort" class="nav-link active" data-bs-toggle="tab">Örnek</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-html-sort" class="nav-link" data-bs-toggle="tab">component.html</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ts-sort" class="nav-link" data-bs-toggle="tab">component.ts</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ts-sort-data" class="nav-link" data-bs-toggle="tab">data.ts</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active show" id="tabs-example-sort">
        <h4>Sort örneği</h4>
        <div style="margin-left: 30px;">
            <div class="form-group">
                <label class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="sortable">
                    <span class="form-check-label">Use or not sort for all table</span>
                </label>
            </div>
            <div class="form-group mt-1">
                <label class="form-check">
                    <input class="form-check-input" [disabled]="!sortable()" type="checkbox" [(ngModel)]="idSortable">
                    <span class="form-check-label">Use or not sort for for Id</span>
                </label>
            </div>
            <div class="form-group mt-1">
                <label class="form-check">
                    <input class="form-check-input" [disabled]="!sortable()" type="checkbox" [(ngModel)]="firstNameSortable">
                    <span class="form-check-label">Use or not sort for First Name</span>
                </label>
            </div>
            <div class="form-group mt-1">
                <label class="form-check">
                    <input class="form-check-input" [disabled]="!sortable()" type="checkbox" [(ngModel)]="lastNameSortable">
                    <span class="form-check-label">Use or not sort for Last Name</span>
                </label>
            </div>
            <div class="form-group mt-1">
                <label class="form-check">
                    <input class="form-check-input" [disabled]="!sortable()" type="checkbox" [(ngModel)]="dateOfBirthSortable">
                    <span class="form-check-label">Use or not sort for Date of birth</span>
                </label>
            </div>
            <div class="form-group mt-1">
                <label class="form-check">
                    <input class="form-check-input" [disabled]="!sortable()" type="checkbox" [(ngModel)]="salarySortable">
                    <span class="form-check-label">Use or not sort for Salary</span>
                </label>
            </div>
        </div>
        <flexi-grid 
        [data]="users()"
        [sortable]="sortable()"
        >
            <flexi-grid-column field="id" [sortable]="idSortable()" title="Id"></flexi-grid-column>
            <flexi-grid-column field="firstName" [sortable]="firstNameSortable()" title="First Name"></flexi-grid-column>
            <flexi-grid-column field="lastName" [sortable]="lastNameSortable()" title="Last Name"></flexi-grid-column>
            <flexi-grid-column field="dateOfBirth" [sortable]="dateOfBirthSortable()" title="Date Of Birth"></flexi-grid-column>
            <flexi-grid-column field="salary" [sortable]="salarySortable()" title="Salary"></flexi-grid-column>
        </flexi-grid>
      </div>
      <div class="tab-pane" id="tabs-html-sort">
        <h4>HTML kodları</h4>
        <my-code [code]="sortHTMLCode()" language="html"></my-code>
      </div>
      <div class="tab-pane" id="tabs-ts-sort">
        <h4>Typescript kodları</h4>
        <my-code [code]="sortTSCode()" language="typescript"></my-code>
      </div>
      <div class="tab-pane" id="tabs-ts-sort-data">
        <h4>Data</h4>
        <my-code [code]="dataCode" language="typescript"></my-code>
      </div>
    </div>
  </div>