<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
    <li class="breadcrumb-item">Category</li>
    <li class="breadcrumb-item">Sub-category</li>
    <li class="breadcrumb-item active">Page Title</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-globe'></i> Blank Page <span class='fw-300'>SubTitle</span> <sup class='badge badge-primary fw-500'>STICKER</sup>
        <small>
            Insert page description or punch line
        </small>
    </h1>
    <!-- 
Right content on content header
A nice area to add graphs or buttons -->
    <div class="subheader-block">
        Right Subheader Block
    </div>
</div>
<!-- Your main content goes below here: -->
<div id="panel-1" class="panel">
    <div class="panel-hdr">
        <h2>
            Panel <span class="fw-300"><i>Title</i></span>
        </h2>
        <div class="panel-toolbar">
            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
            <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <ng-content></ng-content>
        </div>
    </div>
</div>