<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
    <li class="nav-item">
      <a href="#tabs-example-full" class="nav-link active" data-bs-toggle="tab">Örnek</a>
    </li>
    <li class="nav-item">
      <a href="#tabs-html-full" class="nav-link" data-bs-toggle="tab">component.html</a>
    </li>
    <li class="nav-item">
      <a href="#tabs-ts-full" class="nav-link" data-bs-toggle="tab">component.ts</a>
    </li>
  </ul>
</div>
<div class="card-body">
  <div class="tab-content">
    <div class="tab-pane active show" id="tabs-example-full">
      <h4>Full halinin örnek görüntüsü</h4>
        <flexi-grid
        [data]="users()"
        [total]="total()"
        [dataBinding]="true"
        [pageable]="true"
        [pageSize]="state().pageSize"
        [pageSizeList]="[10,20,30,50,100,1000]"
        [showIndex]="true"
        [loading]="loading()"
        [themeClass]="shared.themeClass"
        height="420px"
        [filterable]="true"
        captionTitle="Example User Table"
        [captionTemplate]="captionTemplate"
        [footerTemplate]="footerTemplate"
        [showCaption]="true"
        [showExportExcel]="true"
        [resizable]="true"
        [exportExcelButtonClick]="exportExcel.bind(this)"
        (dataStateChange)="dataStateChange($event)"
        [sortable]="true"
        [draggable]="true">
          <flexi-grid-column [visible]="false" field="id" title="Id" [sortable]="false"></flexi-grid-column>
          <flexi-grid-column field="firstName" title="First Name"></flexi-grid-column>
          <flexi-grid-column field="lastName" title="Last Name"></flexi-grid-column>
          <flexi-grid-column field="dateOfBirth" [filterType]="'date'" format="dd.MM.yyyy" title="Date Of Birth"></flexi-grid-column>
          <flexi-grid-column field="salary" format="n2" filterType="number" title="Salary"></flexi-grid-column>
          <flexi-grid-column title="Actions" [filterable]="false" width="180px" [sortable]="false" [columnTemplate]="customButtonColumnTemplate"></flexi-grid-column>         

          <ng-template #customButtonColumnTemplate let-item="item">
            <button class="btn btn-outline-info">
                <i class="fa-solid fa-edit"></i>
            </button>
            <button class="btn btn-outline-danger ms-1">
                <i class="fa-solid fa-trash"></i>
            </button>            
          </ng-template>

          <ng-template #footerTemplate>
            <!-- <tr>
              <td colspan="5">Total Users</td>
              <td>{{total()}}</td>
            </tr> -->
          </ng-template>
      
          <ng-template #captionTemplate>
              <button class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
              </button>
          </ng-template>
      </flexi-grid>
    </div>
    <div class="tab-pane" id="tabs-html-full">
      <h4>HTML kodları</h4>
      <my-code [code]="fullExampleHTMLCode()" language="html"></my-code>
    </div>
    <div class="tab-pane" id="tabs-ts-full">
      <h4>Typescript kodları</h4>
      <my-code [code]="fullExampleTSCode()" language="typescript"></my-code>
    </div>
  </div>
</div>