<div style="margin-left: 30px;">
    <div class="form-group">
        <label class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="showCaption">
            <span class="form-check-label">Show or hide Caption</span>
        </label>
    </div>
    <div class="form-group mt-1">
        <label>Caption Title</label>
        <input class="form-control" [(ngModel)]="captionTitle" style="width: 150px;">
    </div>
    <div class="form-group mt-1">
        <label class="form-check">
            <input class="form-check-input" [disabled]="!showCaption()" type="checkbox" [(ngModel)]="showColumnVisibility">
            <span class="form-check-label">Show or hide Column Visibility</span>
        </label>
    </div>
    <div class="form-group mt-1">
        <label class="form-check">
            <input class="form-check-input" [disabled]="!showRefreshData()" type="checkbox" [(ngModel)]="showRefreshData">
            <span class="form-check-label">Show or hide Refresh Data</span>
        </label>
    </div>
</div>

<flexi-grid 
    [data]="users()" 
    [showCaption]="showCaption()"
    [captionTitle]="captionTitle()"
    [showColumnVisibility]="showColumnVisibility()" 
    [showRefreshData]="showRefreshData()"
    [captionTemplate]="captionTemplate"
    (refreshData)="refreshData()"
    >

    <ng-template #captionTemplate>
        <button class="btn btn-sm btn-primary">
            <i class="fa-solid fa-plus me-1"></i>
            Kullanıcı ekle
        </button>
    </ng-template>

    <flexi-grid-column field="id" title="Id"></flexi-grid-column>
    <flexi-grid-column field="firstName" title="First Name"></flexi-grid-column>
    <flexi-grid-column field="lastName" title="Last Name"></flexi-grid-column>
    <flexi-grid-column field="dateOfBirth" title="Date Of Birth"></flexi-grid-column>
    <flexi-grid-column field="salary" title="Salary"></flexi-grid-column>
</flexi-grid>