<div class="container" style="margin-top: 50px;">
  <h1>Flexi Grid example</h1>
  <ng-template #captionTemplate>
    <!-- <button>Kullanıcı ekle</button> -->
  </ng-template>

  <ng-template #footerTemplate>
    <!-- <tr>
      <td colspan="5">Total</td>
      <td>46546</td>
    </tr> -->
  </ng-template>

  <flexi-grid
  [data]="users()"
  [total]="total()"
  [dataBinding]="true"
  [pagable]="true"
  [pageSize]="state().pageSize"
  [pageSizeList]="[10,20,30,50,100,1000]"
  [showIndex]="true"
  [loading]="loading()"
  themeClass="light"
  [height]="400"
  [filterable]="true"
  tableTitle="Users Table"
  [captionTemplate]="captionTemplate"
  [footerTemplate]="footerTemplate"
  (refreshData)="getAll()"
  (dataStateChange)="dataStateChange($event)"
  >  
  <flex-grid-column [visible]="false" field="id" title="Id" [orderable]="false"></flex-grid-column>
  <!-- <flex-grid-column field="avatarUrl" title="Avatar"></flex-grid-column> -->
  <flex-grid-column field="firstName" title="First Name"></flex-grid-column>
  <flex-grid-column field="lastName" title="Last Name"></flex-grid-column>
  <flex-grid-column field="dateOfBirth" [filterType]="'date'" format="dd.MM.yyyy" title="Date Of Birth"></flex-grid-column>
  <flex-grid-column field="salary" format="n2" filterType="number" title="Salary"></flex-grid-column>
  <!-- <flex-grid-column field="salary" [columnTempalte]="salaryTemplate" filterType="number" title="Salary"></flex-grid-column> -->
  <!-- <ng-template #salaryTemplate let-value="value">
    <span>{{value | currency}}</span>
  </ng-template> -->
</flexi-grid>
</div>
